/*------------------------------*\
        Pop-up
\*------------------------------*/
.popup {
    position: fixed;
    @include width-height (100%, 100vh);
    @include flexbox (none, row, center, center); /* Le pop-up est caché par défaut */
    background-color: rgba($color: others-color(gray200), $alpha: .65);
    // @include backdrop-filter(others-color(gray100), .25, 50px);

    z-index: $z-index-full;
}

.popup--visible {
    display: flex; /* Le pop-up devient visible */
    animation: opacity .3s linear;
}

.popup__content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 685px;
    @include flexbox (flex, column, start, center, 1rem);
    padding: 3rem;

    border: 1px solid var(--gray100);
    border-radius: .5rem;

    @include backdrop-filter(system-colors(white), .85, 20px);

    color: var(--black);
    transform: translate(-50%, -50%);
    animation: opacity .3s linear;
}

.popup__title {
    font-size: $h4-font-size;
    font-weight: $font-weight-bold;
}

.popup__message {
    word-wrap: wrap;
    color: var(--gray500);
    line-height: $line-height-base;
    font-size: $font-size-base;
}

.popup__links {
    color: var(--black);
    font-size: $font-size-base;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: var(--blue600);
    }
}

// .popup__stacks {

// }

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 35px;
    width: 35px;
    @include flexbox (flex, row, center, center);
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: .2);
    border: 1px solid var(--gray100);
    border-radius: 50%;

    background-color: var(--white);

    color: var(--gray600);
    font-size: $font-size-lg;

    transition: color .3s linear, background-color .3s linear;

    &:hover {
        color: var(--black);
        background-color: var(--gray50);
    }
}

